
<body>
      <!-- 鸿日电动 -->
      <div class="swiper-container" id="container_1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/ef3a776c95f1fc326bbf49d74dd90f21.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/024a0f41303a7dd2a787507489d81cad.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/8fcbe8020519d408c1c26565ddc3582c.png">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- Benzol小程序 -->
      <div class="swiper-container" id="container_2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/84fa0781df14bc5d788664ea0ebed357.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/d422b55d32b25c470cba9b7e8dbe3a92.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/c157c1b98eadbe2058af9abba33d3a6f.png">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- 三国洗车 -->
      <div class="swiper-container" id="container_3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/aeb45c3f79a991eb29af9dfd31bd0b32.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/693958c0d4bf81bee6d569904f2a67b6.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/b48397ba7e821a7ff2966c73789f6e26.png">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
  <script src="./lib/jquery-1.8.3.min.js"></script>
  <script src="./lib/swiper5.3.8/swiper.min.js"></script>
</body>
</html>