<!DOCTYPE html>
<html lang="zh-CN" style="font-size: 100px;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1220">
  <title>猎龙网络</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <% for(let item of htmlWebpackPlugin.options.files.css) { %>
    <link rel="stylesheet" type="text/css" href="<%= item %>" />
  <% } %>
  <link rel="stylesheet" href="./css/index.min.css?v=13" />
  <link rel="stylesheet" href="./css/product.min.css?v=13" />
  <script>
    (function(b,a,e,h,f,c,g,s){b[h]=b[h]||function(){(b[h].c=b[h].c||[]).push(arguments)};
    b[h].s=!!c;g=a.getElementsByTagName(e)[0];s=a.createElement(e);
    s.src="//s.union.360.cn/"+f+".js";s.defer=!0;s.async=!0;g.parentNode.insertBefore(s,g)
    })(window,document,"script","_qha",370331,false);
    </script>
   <script>
    (function () {
        var _53code=document.createElement("script");
        _53code.src = "https://tb.53kf.com/code/code/5d9af89780001db176d845a73837e25f7/1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(_53code, s);
    })(); 
  </script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?fc0cf700f33ec7adb38a22451e64d61d";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1279536350'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279536350%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</head>
<body>
  <div class="layout_wrap">
    
    <div class="header_wrap">
      <div class="top-nav_box animated" id="block1">
        <div class="limit_wrap">
          <div class="logo"></div>
          <div class="right_box">
            <nav id="nav-list" class="nav-list animated">
              <a data-index="0">首页</a>
              <a data-index="1">产品介绍</a>
              <a data-index="2" class="active">覆盖领域</a>
              <a data-index="3" id="case-nav">
                行业案例
                <ul class="case_box animated">
                  <li>生活出行</li>
                  <li>教育服务</li>
                  <li>供需平台</li>
                  <li>医美行业</li>
                  <li>企业定制</li>
                  <li>打车软件</li>
                  <li>硬件对接</li>
                  <li>更多</li>
                </ul>
              </a>
              <a data-index="4">关于我们</a>
            </nav>
            <a class="tel_box">
              <img src="<%=require('../images/tel-icon.png')%>" class="icon">
              <p>24h免费咨询热线</p>
              <p>028-6325 3658</p>
            </a>
            <div id="more-btn" class="more-btn hamburger hamburger--emphatic">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="top-img" src="<%=require('../images/product/top-bg.png')%>" />
    </div>
    <div class="contnet_wrap">
      <div class="product_box" data-index="0">
        <img class="bg" src="<%=require('../images/product/product-img1.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon1.png')%>"/>
      </div>
      <div class="product_box" data-index="2">
        <img class="bg" src="<%=require('../images/product/product-img2.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon2.png')%>"/>
      </div>
      <div class="product_box" data-index="8">
        <img class="bg" src="<%=require('../images/product/product-img3.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon3.png')%>"/>
      </div>
      <div class="product_box" data-index="7">
        <img class="bg" src="<%=require('../images/product/product-img4.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon4.png')%>"/>
      </div>
      <div class="product_box" data-index="1">
        <img class="bg" src="<%=require('../images/product/product-img5.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon5.png')%>"/>
      </div>
      <div class="product_box" data-index="6">
        <img class="bg" src="<%=require('../images/product/product-img6.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon6.png')%>"/>
      </div>
      <div class="product_box" data-index="4">
        <img class="bg" src="<%=require('../images/product/product-img7.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon7.png')%>"/>
      </div>
      <div class="product_box" data-index="3">
        <img class="bg" src="<%=require('../images/product/product-img8.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon8.png')%>"/>
      </div>
      <div class="product_box" data-index="9">
        <img class="bg" src="<%=require('../images/product/product-img9.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon9.png')%>"/>
      </div>
      <div class="product_box" data-index="5">
        <img class="bg" src="<%=require('../images/product/product-img10.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon10.png')%>"/>
      </div>
      <div class="product_box" data-index="3">
        <img class="bg" src="<%=require('../images/product/product-img11.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon11.png')%>"/>
      </div>
      <div class="product_box" data-index="4">
        <img class="bg" src="<%=require('../images/product/product-img12.png')%>"/>
        <div class="mask"></div>
        <img class="icon" src="<%=require('../images/product/product-icon12.png')%>"/>
      </div>
    </div>

    <div class="btn" id="use-btn">更多</div>

    <!-- 底部区域 -->
    <div class="footer_wrap" id="footer_wrap">
      <div class="footer-text_wrap limit_wrap">
        <div class="text_box goto_block">
          <p data-value="#home">首页</p>
          <p data-value="#block2">开发服务</p>
          <p data-value="#block3">精品案例</p>
          <p data-value="#block5">关于我们</p>
          <p data-value="#process-box">服务流程</p>
        </div>
        <div class="text_box" id="field-nav">
          <p>电商平台开发</p>
          <p>APP行业定制开发</p>
          <p>小程序开发</p>
          <p>微信公众号开发</p>
          <p>网站搭建</p>
        </div>
        <div class="text_box" id="example-nav">
          <p>行业案例</p>
          <p data-index="5">生活出行</p>
          <p data-index="1">教育服务</p>
          <p data-index="3">电商平台</p>
          <p data-index="3">医美行业</p>
          <p data-index="2">企业定制</p>
          <p data-index="more">更多</p>
        </div>
        <img class="logo" src="<%=require('../images/logo-white.png')%>"/>
        <div class="border-left">
          <p>微信：18408221152</p>
          <p>QQ：1652112418</p>
          <p>邮箱：1652112418@qq.com</p>
          <p>联系方式：18408221152​，13032891357</p>
          <p>地址：四川省成都市高新区环球中心N3栋2120室</p>
        </div>
      </div>
      <div class="copyright">
        Copyright©<a href="http://beian.miit.gov.cn" target="_blank">蜀ICP备19035222号-1</a>  成都猎龙网络科技有限公司.All rights reserved.
      </div>
    </div>
  </div>
  <script src="./lib/jquery-1.8.3.min.js"></script>
  <script src="./js/common.min.js?v=10"></script>
  <script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1278807018&web_id=1278807018"></script>
  <script>
    function menuSwitch() {
      let $moreMenu = $('#more-btn');
      let $navList = $('#nav-list');
      $moreMenu.on('click', e => {
        e.stopPropagation();
        if (window.isMinScreen) {
          let isopen = $moreMenu.hasClass('active');
          if (isopen) {
            $moreMenu.removeClass('active');
            $navList.removeClass('fadeInRight').addClass('fadeOutRight');
          } else {
            $moreMenu.addClass('active');
            $navList
              .removeClass('fadeOutRight')
              .addClass('fadeInRight')
              .css('display', 'block');
          }
        }
        return false;
      });
      $navList.on('click', e => {
        let $el = $(e.target);
        let index = $el.data('index');
        this.gotoBlock(index);
      });
      let $header = $('.header_wrap');
      let $top = $('.top-nav_box').eq(0);
      let topNavTop = $header.height();
      let $doc = $(document);
      // $doc.on('scroll', e => {
      //   let top = $doc.scrollTop();

      //   if (top > topNavTop) {
      //     if ($doc.attr('isTopNav') != '1') {
      //       $doc.attr('isTopNav', '1');
      //       $top.addClass('fixed fadeInDown');
      //     }
      //   } else {
      //     if ($doc.attr('isTopNav') != '0') {
      //       $doc.attr('isTopNav', '0');
      //       $top.removeClass('fixed fadeInDown');
      //     }
      //   }
      // });
      $header.height(topNavTop);
      this.$moreMenu = $moreMenu;
      return false;
    }
    function gotoBlock(label) {
      if (label == 2) {
        window.location.href = './product.html';
        return true;
      } else if (label == 3) {
        window.location.href = './example.html?eid=0';
        return true;
      }
      sessionStorage.setItem('blockName', label);
      window.location.href = './index.html';
    }
    $('.product_box').on('click', function() {
      let $el = $(this);
      let index = $el.data('index');
      window.location.href = './example.html?eid=' + index;
    })
    $("#use-btn").on('click', () => {
      window.location.href = './example.html?eid=0';
    })
    menuSwitch();
  </script>
</body>
</html>