
<body>
      <!-- 海啰(网红)APP -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/d86ab3347d68f7029e4bf1a1028f2b4c.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/8b4ba29331b25f488fd712ec43327823.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/f0667ae87aab9c7384ca0c072fa554d4.png">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- 赞赞羊APP -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/4ca8057451771ff91c5e67ac9b68e8c5.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/dcc6c053dcbbb25920e1c6bb0a81933b.png">
          </div>
          <div class="swiper-slide">
            <img src="./images/ef596304505b231bb440a71c677c69a9.png">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
  <script src="./lib/jquery-1.8.3.min.js"></script>
  <script src="./lib/swiper5.3.8/swiper.min.js"></script>
</body>
</html>