html, body{
  height: 100%;
}
.layout_wrap{
  height: 100%;
  font-size: 12PX;
}
.login_wrap{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 100;
}
.login_box{
  width: 420PX;
  height: 320PX;
  background-color: #fff;
  border-radius: 10PX;
  box-shadow: 0 0 20PX #666;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180PX;
  margin-left: -210PX;
  .title{
    text-align: center;
    font-size: 42PX;
    padding: 40PX 0 10PX 0;
  }
  .form_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30PX 50PX;
    input{
      height: 32PX;
      margin-bottom: 30PX;
      border-radius: 4PX;
      border: 1PX solid #4B93FF;
      padding-left: 10PX;
      outline: none;
    }
    button{
      background-color: #4B93FF;
      height: 32PX;
      border: none;
      color: #fff;
    }
  }
}


.content_wrap{
  height: 100%;
  position: relative;
  .top_wrap{
    width: 100%;
    height: 92PX;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../images/admin/logo.png) no-repeat 30PX center #E8F0FF;
    background-size: 162PX;
    .action_wrap{
      position: absolute;
      right: 20PX;
      height: 100%;
      display: flex;
      align-items: center;
      .btn{
        display: inline-block;
        padding: 10PX 25PX;
        border-radius: 4PX;
        background-color: #c2d6fc;
        font-size: 16PX;
        cursor: pointer;
      }
    }
  }
  .left_wrap{
    width: 220PX;
    height: 100%;
    background-color: #4B93FF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 92PX;
    box-sizing: border-box;
    li{
      height: 100PX;
      line-height: 100PX;
      border-bottom: 1PX solid #2079FF;
      text-align: center;
      box-sizing: border-box;
      color: #fff;
      font-size: 24PX;
      cursor: pointer;
      &.active{
        background-color: #2079FF;
      }
      &:last-of-type{
        border: none;
      }
    }
  }
  .content_box{
    width: 100%;
    padding: 40PX 40PX 0 250PX;
    padding-bottom: 60PX;
    box-sizing: border-box;
    overflow: hidden;
    .data-title{
      color: #000;
      display: flex;
      justify-content: left;
      background-color: #e4ebf7;
      border: 1PX solid #E5E5E5;
      border-bottom: none;
      font-size: 28PX;
      margin-top: 50PX;
      p{
        height: 80PX;
        line-height: 80PX;
        width: 33%;
        text-align: center;
        border-right: 1PX solid #E5E5E5;
        &:last-of-type{
          border-right: 0;
        }
      }
      p:nth-of-type(1) {
        width: 240PX;
      }
    }
    .user-list{
      border: 1PX solid #E5E5E5;
      color: #444444;
      font-size: 24PX;
      li{
        line-height: 80PX;
        border-bottom: 1PX solid #E5E5E5;
        display: flex;
        &:last-of-type{
          border-bottom: none;
        }
        p{
          width: 33%;
          text-align: center;
          border-right: 1PX solid #E5E5E5;
          &:last-of-type{
            border-right: 0;
          }
        }
        p:nth-of-type(1) {
          height: 80PX;
          width: 240PX;
          display: inline-block;
          background-color: #FAFCFF;
        }
      }
    }
  }
  .data-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .data-item{
    width: 150PX;
    margin: 40PX 60PX;
    .show-data{
      width: 150PX;
      height: 150PX;
      border-radius: 50%;
      color: #fff;
      font-size: 30PX;
      text-align: center;
      line-height: 150PX;
    }
    .title{
      height: 70PX;
      line-height: 70PX;
      padding-left: 40PX;
      color: #606164;
      font-size: 24PX;
      &.dian{
        background: url(../images/admin/dian-icon.png) no-repeat left center;
        background-size: auto 34PX;
      }
      &.bao{
        background: url(../images/admin/bao-icon.png)  no-repeat  left center;
        background-size: auto 34PX;
      }
      &.play{
        background: url(../images/admin/play-icon.png)  no-repeat  left center;
        background-size: auto 34PX;
      }
    }
  }
  .home-page{
    width: 200PX;
    margin: 20PX;
    .show-data{
      width:100PX;
      height: 100PX;
      border-radius: 50%;
      color: #fff;
      font-size: 20PX;
      text-align: center;
      line-height:100PX;
      cursor: pointer;
    }
    .title{
      height: 50PX;
      line-height: 50PX;
      padding-left: 40PX;
      color: #606164;
      font-size: 18PX;
      &.dian{
        background: url(../images/admin/dian-icon.png) no-repeat left center;
        background-size: auto 34PX;
      }
      &.bao{
        background: url(../images/admin/bao-icon.png)  no-repeat  left center;
        background-size: auto 34PX;
      }
      &.play{
        background: url(../images/admin/play-icon.png)  no-repeat  left center;
        background-size: auto 34PX;
      }
    }
  }
  .icon-title{
    font-size: 30PX;
    color: #444444;
    font-weight: bold;
    position: relative;
    padding-left: 35PX;
    &::before{
      width: 8PX;
      height: 30PX;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 1PX;
      background-color: #444444;
    }
  }
  #home_wrap, #dev_wrap, #case_wrap, #video_wrap, #user_wrap, #source_wrap{
    display: none;
  }
  .bg-yellow{
    background-color: #FCCF3B;
  }
  .bg-red{
    background-color: #E94F37;
  }
  .bg-green{
    background-color: #03CEA4;
  }
  .bg-blue{
    background-color: #4B93FF;
  }
  .bg-black{
    background-color: #444444;
  }
  .bg-orange{
    background-color: #FCA33B;
  }
  .bg-violet{
    background-color: #A2A4FF;
  }
}

#user_wrap{
  table{
    width: 100%;
    margin-top: 30px;
  }
  thead{
    background-color: #e4ebf7;
    font-size: 28px;
    th{
      padding: 20px;
    }
  }
  tbody{
    font-size: 24px;
    tr{
      border-bottom: 1px solid #999;
    }
    td{
      text-align: center;
      padding: 40px 10px;
    }
  }
}

#source_wrap{
  table{
    width: 100%;
    margin-top: 30px;
  }
  thead{
    background-color: #e4ebf7;
    font-size: 24px;
    th{
      padding: 20px;
    }
  }
  tbody{
    font-size: 22px;
    tr{
      border-bottom: 1px solid #999;
    }
    td{
      text-align: center;
      padding: 30px 10px;
    }
  }
  /*分页new_page*/
.sr-page {
  padding: 30px;
  text-align: center;
}

.sr-page span {
  vertical-align: middle;
}

.sr-page a {
  text-decoration: none;
  color: #555;
  outline: none;
}

.sr-page .pagebtn {
  width: 52px;
  height: 30px;
  background: #1875f0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.sr-page .pagebtn:hover {
  background: #1875f0;
}

.sr-page .previous {
  display: none !important;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}


.sr-page .previous a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.sr-page .next {
  display: none !important;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.sr-page .next a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.sr-page .num {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
}

.sr-page .num.current {
  padding: 0 15px;
  background: #4B93FF;
  color: #fff;
}

.sr-page .num a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.sr-page .num a:hover {
  color: #555;
  background: #f1f1f1;
}

.sr-page .dots {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  padding: 0 15px;
}

.sr-page .total {
  margin-left: 20px;
  margin-right: 10px;
}

.sr-page .total.total_page {
  margin-left: 5px;
  margin-right: 5px;
}

.sr-page .page_jump {
  margin: 0 10px;
}

.sr-page .pageInput {
  width: 50px;
  height: 30px;
  border: 1px solid #e9e9e9;
  outline: none;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
}

.sr-page .pageInput:focus {
  border: 1px solid #1875f0;
}

@media screen and (max-width: 799px) {
  .sr-page {
    padding: 10px 0;
  }
  .sr-page .num, .sr-page .dots, .sr-page .total {
    display: none;
  }
  .sr-page .num.current {
    display: inline-block;
    padding: 0 10px;
  }
  .sr-page .total.total_page {
    display: inline-block;
  }
  .sr-page .pageInput, .sr-page .pagebtn {
    width: 40px;
  }
  .sr-page .pagebtn {
    display: none;
  }
  .sr-page .page_jump {
    margin: 0 5px;
  }
}
}

.mapBox{
  display: flex;
}
#search{
  border: none;
  outline: none;
  background-color:#4B93FF;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#startTime,#endTime{
  border: 1px solid #ccc;
  padding: 5px;
  color: #333;
  border-radius: 5px;
}