
.layout_wrap {
   &.fixed1{
    .info_wrap{
      position: fixed;
      top:0;
      margin-top: 100px;
    }
  }
  .fixed2{
    position: fixed;
    top:0;
    margin-top: 100px;
   }

  .header_wrap {
    height: auto;
    overflow: hidden;
    z-index: 200;
    transition: height 0.5s ease;
    .top-nav_box{
      // background-color:#091624;
      // position: absolute;
    }
    .top-img{
      height: 5.6rem;
      width: 100%;
      object-fit: cover;
     
    }
  }
  .info_wrap{

    .project-list{
      display: flex;
      flex-wrap: wrap;
      padding: 0.1rem 0;
      background-color: #fff;
      z-index: 999;
      li{
        width: 1.5rem;
        height: 0.6rem;
        box-sizing: border-box;
        border: 0.5px solid #C4D0D6;
        line-height: 0.6rem;
        text-align: center;
        &:nth-child(-n+8){
          border-bottom: none;
        }
        &:nth-child(-n+8){
          border-left: none;
        }
        &:nth-child(n + 8){
          border-left: none;
        }
        &:nth-child(9){
          border-left:  0.5px solid #C4D0D6;;
        }
        &:nth-child(1){
          border-left:  0.5px solid #C4D0D6;;
        }
        cursor: pointer;
        &.active{
          background-color: #1496FF;
          color: #fff;
        }
      }
    }
   
  }
  .left-info{
    padding: 0.3rem;
    p{
      font-size: 0.16rem;
      font-weight: bold;
      line-height: 0.3rem;
      padding-bottom: 0.2rem;
      span{
        font-weight: normal;
        line-height: 0.34rem;
      }
      &:last-of-type{
        padding: 0;
      }
      &:nth-last-child(2) {
        padding-bottom: 0;
      }
    }
  }
  .contnet_wrap{
    padding: 0.3rem;;
    img{
      width: 100%;
      height: 100%;
      vertical-align:top;
    }
  }
  .swiper-wrapper{
    img{
      width: 100%;
      height: 100%;
    }
  }
  .btn{
    width:2.2rem;
    height:0.6rem;
    background:rgba(20,150,255,1);
    border-radius:0.1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
    color: #fff;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.2rem;
    font-weight: bold;
  }
  .footer_wrap{
    padding-top: 0;
    margin-top: 0.4rem;
  }
}
.swiper-container{
}

@media screen and (max-width: 980px) {
  .header_wrap{
    padding-bottom: 30px;
  }
}